In [1]:
import pandas as pd

In [2]:
import sqlite3

In [3]:
cnx = sqlite3.connect('better_breakfasts_complete.db')

In [4]:
venue = pd.read_sql_query("SELECT * FROM venue", cnx)

In [5]:
venue.head()

,id,fid,latitude,longitude,name,price,rating,ratingSignals,url
0,1,53a05de7498e51117e0e9808,53.484175,-2.238826,Federal,2,9.1,156,
1,2,54ae8926498e57df8beb383f,53.483096,-2.238081,Northern Soul • Grilled Cheese,2,9.0,75,
2,3,510a65c1e4b0b1cb052384b3,53.484514,-2.237050,Luck Lust Liquor & Burn,2,8.9,250,
3,4,4bacb73bf964a5204f063be3,53.484738,-2.238108,This & That,1,8.8,73,http://www.thisandthatcafe.co.uk/#V5kLQj
4,5,4af70c90f964a520300522e3,53.484822,-2.237971,Trof,1,8.7,205,http://www.trofnq.co.uk